# IDEs
.vscode/*
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# Dependencies
node_modules/
.wrangler

# Test artifacts
coverage

# Env and configuration files
.env
.env.*
.dev.vars
src/env.d.ts
wrangler.json

# Logs
logs/
*.log
pnpm-debug.log*

# MacOS artifacts
.DS_Store

# Certificates
certs
